/* shared styles */

body{
    font-family: 'Work Sans', sans-serif;
}

.primary-font-color{
    color: #FF42A5;
}

.section-title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}


/* Header styles */
header{
    padding: 0 200px;
}

nav{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title>ul, .footer-nav>ul{
    display: flex;
    align-items: center;
}

.nav-title li, .footer-nav>ul>li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.nav-title, .footer-title{
    display: flex;
    align-items:center;
    gap:10px;  
}

.nav-title li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-btn{
    display: flex;
    align-items: center;
    gap:10px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding:0 15px;

}


/* banner styles */
.banner{
    width: auto;
    background-color: #f4eaf3b9;
    display: flex;
    padding: 6%;
}
.banner-section{
    width: 100%;
}
.banner-content{
    padding-left: 18%;
    padding-top: 5%;
}
.banner-title{
    margin-bottom: 0;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
/* border: 2px solid rgb(108, 33, 206); */
}

.goat{
    margin-top: 0;
    margin-bottom: 0;
font-size: 4rem;
font-weight: 900;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: none;
}

.banner-paragraph{
    list-style: none;
    gap:initial;
    color: #534C64;
    font-size: .9rem;
    font-weight: 500;
}

.banner-btn{
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}
.btn{
    border-radius: 48px;
    padding: 10px 25px;
    border:none;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.sign-in{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.go{
    background: #4EC5F7;
}

.banner-img img{
    width:80%
}

/* gamer css */
#gamer-img img{
    width: 100%;
    height: 100%;
}

.gamer-title{
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: none;
}
#gamer-section{
    text-align: end;
    padding: 5% 20%; 
}

.unleash{
    color: #534C64;
font-size: 1.5rem;
font-weight: 700;
line-height: 45px;
}


/* online game css */
#online-game-image-section{
    padding: 0 10%;
}

.online-game-container{
    display: flex;
    justify-content: space-around;
    gap:2%;
    text-align: center;
   
}

.online-game-img-card-1{
    width: 80%;
}
.online-game-img-card-2{
    width: 95%;
}
.online-game-img-card-3{
    width: 88%;
}

.online-game-img-card-1:hover,.online-game-img-card-2:hover,
.online-game-img-card-3:hover{
    /* background-color: #3C354F; */
    background-color: orange;
    color: white;
    padding: 1px;
    margin: 5px;
    opacity: 0.5;
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    background-image: url('../images/circle-play-solid.svg');
    
}
.online-game-img-card-1:hover>.online-btn{
    z-index: none;
}

.online-btn
{
    display:grid;
    width: 40%;
    padding: 8px;
    background-color: #F948B2;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-left: 35%;
    margin-top: -100px;
    margin-bottom: 80px;
    z-index: -1;
}

.online-game-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    margin-top:none;
    margin-bottom: 0;
}

#online-game-section{
    text-align: center;
    justify-content: center;
    /* border: 2px solid red; */
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    padding-bottom: 20px;
}

.online-game-img img{
    width: 20%;
}


/* instant play css */

#instant-title-section{
    text-align: right;
    padding: 150px;
}

.instant-badge{
    width: 40%;
    padding-left: -10%;
    position: relative;
    bottom: 270px;
    right: 50px;
}

.instant-game-img img{
    width: 70%;
    height: 80%;
    margin-top: 60px;
}


/* anywhere css */
#anywhere-img{
    padding-left: 20%;
    width: 100%;
}
#anywhere-title{
    text-align: left;
}
#anywhere-text{
    font-size: 2.5rem;
}
.anywhere-badge{
    width: 40%;
    padding-left: -10%;
    position: relative;
    bottom: 180px;
    left: 300px;
}


/* career css */
#career-container{
    background-color: #FF42A5;
    text-align: left;
}

.career-section{
    color: #ffffff;
    width: 50%;
}
.career-content{
    padding: 10% 0 10% 35%;
}

.career-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.career-list{
    display: flex;
}

.career-name{
    text-align: left;
}

.career-address{
    text-align: right;
}
.career-section img{
    width:100%;
}

/* game type css */
.game-types-section{
    display: flex;
    text-align: center;
    justify-content: center;
}

.gametype-cart{
    display: flex;
    gap:50px;
    padding: 20px 50px;
}
.game-cart{
    display: flex;
    gap:5px;
}








/* footer css */

footer{
    background-color: #0B0223;
    color:#ffffff;
    padding: 5% 27%;
    
}

#footer-title{
    color: white;
    margin: 1%;
}
#footer-logo{
    justify-content: center;
    padding: 3%;
}

.footer-nav-list{
    /* border: 2px solid greenyellow; */
    justify-content: space-evenly;
    display: flex;
    padding: none;
    padding-bottom: 30px;
}


.footer-nav li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

#footer-terms{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: .8rem;
font-weight: 500;
}





/* responsive styles */
/* mobile devices */

@media screen and (max-width:576px) {
    header{
        padding: 0 20%;
        margin: none;
    }
    nav, .nav-title>ul, #gamer-banner,.online-game-container{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .nav-title img{
        width: 30%;
    }

    .nav-title>ul{
        line-height: 40px;
        align-items: center;
        margin: 2%;
    }
    .nav-btn{
        width: 180px;
        padding:0 12%;
    }
    .banner, #anywhere-section{
        width: auto;
        flex-direction:column-reverse;
        padding: 0;
    }
    .banner-content{
        text-align: center;
        padding: 15px;
    }
   
    .banner-title, .online-game-title, .gamer-title{
    font-size: 1.25rem;
    }
     
    .goat,.section-title, #anywhere-text{
    font-size: 2.25rem;
    }
    
    .banner-paragraph, #gamer-purpose{
    font-size: .8rem;
    }
    .nav-title>ul>li>a{
        font-size: 1rem;
    }
    .unleash{
        font-size: .9rem;
    }

    .btn{
        border-radius: 48px;
        padding: 10px 20px;
        font-size: .7rem;
    }
    
    .banner-img img, #gamer-img img{
        width:80%; 
        margin: 15px 0;
        padding-left: 10%;
    }

    #gamer-section{
        text-align: center;
    }
    #gamer-title{
        font-size: 1.25rem;
        
    }
   
    .online-game-img-card-2{
        width: 85%;
    }
    .online-game-container{
        margin: none;
    }
    #instant-title-section{
        padding: 10%;
    }

    #instant-title-section{
        padding: none;
    }

    .instant-game-img img{
        width: 70%;
        padding-left: 16%;
        margin: 0;
        padding-bottom: none;
    }

    .instant-badge{
        width: 40%;
        padding-left: -10%;
        position: relative;
        bottom: 90px;
        right: 10px;
    }

    #anywhere-img{
        padding-left: none;
        /* width: 100%; */
    }

    #anywhere-img{
        margin-left: -15%;
    }
   
    .anywhere-badge{
        width: 40%;
        position: relative;
        bottom: 100px;
        left: 230px;
    }

    .career-section {
        width: auto;
    border: 2px solid greenyellow;    
}
.career-content{
    padding: 10px;
    margin: none;
}

.game-types-section{
    display:grid;
    flex-direction:column;
}

/* .gametype-cart{
    display: flex;
    gap:50px;
    padding: 20px 50px;
}*/

.game-type-img{
    display: grid;
    flex-direction: column;
    width: 60px;
    height: 60px;
    height: auto;
    gap:2px;
} 


}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    
    body{
        margin: 0;
        width: 100%;
    }
    header{
        padding: 0;
        margin: none;
        width:100%;
        border: 2px solid red;
    }
    main{
        width:100%;
        border: 2px solid red;
    }
  #gamer-banner{
        flex-direction: column;
    }
    nav{
       padding: 0 5%;
    }
    .nav-title img{
        width: 30%;
    }
    
    .banner-title, .online-game-title, .gamer-title{
        font-size: 1.25rem;
        }
         .banner-content{
            text-align: center;
            padding: 15px;
        }
    
    .banner-title, .online-game-title, .gamer-title{
        font-size: 2rem;
        }

        .goat,.section-title{
            font-size: 2.25rem;
            }
            
            .banner-paragraph, #gamer-purpose{
            font-size: .8rem;
            }
            .nav-title>ul>li>a{
                font-size: 1rem;
            }

        
            .btn{
                border-radius: 48px;
                padding: 10px 20px;
                font-size: .7rem;
            }
            
            .banner-img img, #gamer-img img{
                width:80%; 
                margin: 15px 0;
                padding-left: 10%;
            }
            .online-game-title{
            
                margin-top:none;
                margin-bottom: 0;
                padding-left: none;
            }
            
        
}
