/* shared styles */
body{
    font-family: 'Work Sans', sans-serif;
}

.primary-font-color{
    color: #FF42A5;
}

.section-title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}


/* Header styles */
header{
    padding: 0 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title>ul, .footer-nav>ul{
    display: flex;
    align-items: center;
    gap:30px;
}

.nav-title li, .footer-nav>ul>li{
    list-style: none;
    font-weight: 700;
    font-size: 1rem;
}

.nav-title, .footer-title{
    display: flex;
    align-items:center;
    gap:10px;  
}

.nav-title li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-btn{
    display: flex;
    align-items: center;
    gap:10px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding:0 15px;
}


/* banner styles */
.banner{
    background-color: #f4eaf3b9;
    display: flex;
    padding: 50px 200px;
}

.banner-section{
    width: 100%;
}
.banner-content{
    padding-top: 15%;
}

.banner-title, .online-game-title{
    margin-bottom: 0;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}

.goat{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-paragraph{
    color: #534C64;
    font-size: .9rem;
    font-weight: 500;
}

.banner-btn{
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}
.btn{
    border-radius: 48px;
    padding: 10px 25px;
    border:none;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.sign-in{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.go{
    background: #4EC5F7;
}
.banner-img img{
    width:100%;
}

/* gamer css */
#gamer-section{
    text-align: end;
    padding: 0  0 0 20%; 
}

.gamer-title{
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.unleash{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 45px;
}


/* online game css */
#online-game-section{
    text-align: center;
    justify-content: center;
    /* border: 2px solid red; */
    display: flex;
    padding-top: 0;
    padding-bottom: 20px;
    
}

.online-game-title{
    font-size: 2.8rem;
    margin-top:none;
    margin-bottom: none;
}

#online-game-image-section{
    padding: 0 10%;
}

.online-game-container{
    display: flex;
    justify-content: space-around;
    gap:2%;
    text-align: center;
    background-color: #f4eaf3b9;
}

.online-game-img-card-1{
    width: 80%;
}
.online-game-img-card-2{
    width: 95%;
}
.online-game-img-card-3{
    width: 88%;
}

.online-btn
{
    display:grid;
    width: 40%;
    padding: 8px;
    background-color: #F948B2;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-left: 35%;
    margin-top: -100px;
    margin-bottom: 80px;
    z-index: -1;
}

/* hover section */
.online-game-img-card-1:hover,.online-game-img-card-2:hover,
.online-game-img-card-3:hover{
   
    color: white;
    padding: 1px;
    margin: 5px;
    opacity: 0.5;
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    background-image: url('../images/circle-play-solid.svg');
    
}
.online-game-img-card-1:hover{
    z-index: 1;
    /* background-image: url('../images/circle-play-solid.svg'); */
}


/* instant play css */

#instant-title-section{
    text-align: right;
    padding: 200px 150px 0 270px;
    /* border: 2px solid red; */
}

.instant-badge{
    width: 40%;
    padding-left: -10%;
    position: relative;
    bottom: 230px;
    right: 30px;
}

.instant-game-img img{
    width: 65%;
    height: 80%;
    margin-top: 60px;
    margin-left: -90px;
}


/* anywhere css */
#play-anywhere-section{
    margin-top: -150px;
}

#anywhere-img{
    padding-left: 15%;
    width: 100%;
    /* border: 2px solid red; */
}
.anywhere-badge{
    width: 40%;
    position: relative;
    bottom: 220px;
    left: 450px;
}

#play-anywhere-title{
    text-align: left;
    padding: 20%;
}

#anywhere-text{
    font-size: 2.5rem;
}



/* career css */
#career-container{
    background-color: #FF42A5;
    text-align: left;
}

.career-section{
    color: #ffffff;
    width: 50%;
}
.career-content{
    padding: 10% 0 10% 35%;
}

.career-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.career-list{
    display: flex;
}

.career-name{
    text-align: left;
}

.career-address{
    text-align: right;
}
.career-section img{
    width:100%;
}


/* game type css */

.game-type-cart{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.game-cart{
    width:200px;
    display: flex;
    justify-content: center;
    gap:10px;
}

.game-cart:hover{
    border: 2px solid  #FF42A5;
    border-radius: 30px;
}


/* footer css */

footer{
    background-color: #0B0223;
    color:#ffffff;
    padding: 5% 27%;
    
}

#footer-title{
    color: white;
    margin: 1%;
}
#footer-logo{
    justify-content: center;
    padding: 3%;
}

.footer-nav-list, .footer-nav-list-1{
    /* border: 2px solid greenyellow; */
    justify-content: space-evenly;
    display: flex;
    padding: none;
    padding-bottom: 30px;
}

.footer-nav li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

#footer-terms{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
}



/* responsive styles */

/* mobile devices */

@media screen and (max-width:576px) {

    /* header section */
    header{
        padding: 0 20%;
    }
    nav, .nav-title>ul, #gamer-banner,.online-game-container{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .nav-title img{
        width: 30%;
    }

    .nav-title>ul{
        line-height: 20px;
        align-items: center;
        margin: 2% -10%;
    }

    .nav-title>ul>li>a, .unleash, .banner-paragraph, #gamer-purpose, .career-list p{
        font-size: .7rem;
    }

    .nav-btn{
        width: 180px;
        padding:0 12%;
    }


    /* banner section */
    .banner, #play-anywhere-section{
        width: auto;
        flex-direction:column-reverse;
        padding: 0;
    }

    .banner-content{
        text-align: left;
        padding: 10% 25%;
        /* border:2px solid red; */
    }
    .banner-list{
        font-size: .6rem;
    }
   
    .banner-title, .online-game-title, .gamer-title{
    font-size: 1.25rem;
    }
     
    .goat,.section-title, #anywhere-text{
    font-size: 2.25rem;
    }
    
    
    .btn{
        border-radius: 48px;
        padding: 10px 20px;
        font-size: .6rem;
    }
    
    .banner-img img, #gamer-img img{
        width:80%; 
        margin: 15px 0;
        padding-left: 10%;
    }

    /* gamer section */

    #gamer-section{
        text-align: center;
        margin-left:-10px;
        padding: 0 20%;
    }


    /* online game section */
   
    .online-game-img-card-2{
        width: 85%;
    }
    .online-game-container{
        margin: none;
    }


    /* instant play section */

    #instant-title-section{
        padding: 10%;
    }

    .instant-game-img img{
        width: 70%;
        padding-left: 16%;
        margin: 0;
    }

    .instant-badge{
        width: 40%;
        padding-left: -12%;
        position: relative;
        bottom: 90px;
        right: 10px;
    }

    /* play anywhere section */

    #anywhere-img{
        margin-left: -25%;
    }

    .anywhere-badge{
        width: 40%;
        position: relative;
        bottom: 100px;
        left: 250px;
    }


    /* career section */
    .career-section {
        width: auto;
    }
    
    .career-content{
        padding: 20px;
        margin: none;
    }
    .career-section img{
       padding-left: 10%;
    }
    
    /* game-cart section */
    .game-cart {
        width:65px;
    }
    
    .game-type-img{
        height: 40px;
        width: 40px;
        gap:2px;   
    } 


.footer-nav-list, .footer-nav-list-1{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav-list-1{
    gap:30px;
}

}


/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    
    body{
        margin: 0;
        width: 100%;
    }
    
    /* header section */
    header{
        padding: 0 10%;
    }
   
    .nav-title img{
        width: 30%;
    }

    .nav-title>ul{
        line-height: 20px;
        align-items: center;
        margin: 2% -10%;
    }

    .nav-title>ul>li>a{
        font-size: .9rem;
    }

    .nav-btn{
        width: 180px;
        padding:0 12%;
    }

    /* banner section */
   
    .banner,#play-anywhere-section{
        padding: 30px 100px;
        width: auto;
    }
    
    .banner-content{
        text-align: left;
        padding: 5% 0;
        /* border:2px solid red; */
    }

    .banner-list{
        font-size: .6rem;
    }

    .banner-title, .online-game-title, .gamer-title, #anywhere-text{
    font-size: 1.25rem;
    }
     
    .goat,.section-title{
    font-size: 2.25rem;
    }
    
    .btn{
        border-radius: 48px;
        padding: 10px 30px;
        font-size: .6rem;
    }
    
    .banner-img img, #gamer-img img{
        width:100%; 
        margin: 15px 0;
        padding-left: 10%;
    }

    .unleash, .banner-paragraph, #gamer-purpose, .career-list p, .banner-list{
        font-size: .8rem;
    }
       
    /* online game section */
    .online-game-title{
        margin-top:none;
        margin-bottom: 0;
        padding-left: none;
    }

    /* instant game section */

    #instant-title-section{
        padding:  0 15%;
    }
    
    .instant-game-img{
        padding-right: 5%;
        padding-top: 5%;
    }
        
    .instant-game-img img{
        width: 60%;
        margin-top: 10px;
    }
        
    .instant-badge{
        width: 40%;
        padding-left: -10%;
        position: relative;
        bottom: 90px;
        right: 10px;
    }

  /* play anywhere section */

    #anywhere-img{
       margin-left: -25%;
       width: 120%;
       padding-top: 100px;
    }

    .anywhere-badge{
       width: 40%;
       left: 60%;
       position: relative;
       bottom: 80px;
    }

      
    /* career css */
    .career-section{
        width: 50%;
    }
            
    .career-content{
        padding: 10% 0 10% 20%;
    }
            
    .career-section img{
        margin-top: 60%;
    }

    /* game-cart section */

    .game-cart{
        width:80px;
    }
            
    .game-type-img{
        height: 60px;
        width: 60px;
        gap:2px;    
    } 
    
    
    /* footer section */

    footer{
        margin-bottom: 200px;
    }
    .footer-nav-list, .footer-nav-list-1{
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }

   .footer-nav-list-1{
        gap:30px;
    }
}



